
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #25BDD8;
    --bg-color: #000000;
    --text-color: #ffffff;
}

body{
    background-color: var(--bg-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'poppins', sans-serif;
}

img{
    margin: 3vh;
    width: 50vw;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 80vw;
}

input{
    background-color: var(--primary-color);
    outline: none;
    border: none;
    padding: 2vw;
    border-radius: 1vw;
    color: var(--text-color);
}

button{
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 2vw;
    margin-top: 2vw;
    border-radius: 1vw;
    font-weight: bold;
    cursor: pointer;
}