@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3784B4;
    --container-color: #1B5173;
    --bg-color: #000000;
    --h2-color: #ffffff;
    --btn-concluir: #00975b;
    --text-color: #ffffff;
    --border-radius: 1vw;
}

body {
    background-color: var(--bg-color);
    min-height: 100vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'poppins', sans-serif;
    gap: 5vw;
    margin-bottom: 20vw;
}

h1,
h2,
h3 {
    color: var(--h2-color);
}


.container {
    background-color: var(--container-color);
    width: 90vw;
    text-align: center;
    border-radius: 0.5vw;
    padding: 5vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;

    select {
        background-color: var(--primary-color);
        color: var(--text-color);
        width: 90%;
        padding: 2vw;
        border: none;
        border-radius: 1vw;
        font-size: 4vw;

        option {
            border: none;
            font-size: 4vw;
        }
    }

    #new_password{
        font-size: 4vw;
        width: 40vw;
        padding: 1vw;
        outline: none;
        border-radius: 0.75vw;
        border: none;
    }

    h4{
        color: rgb(235, 163, 8);
    }

}

.concluir {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3vw;
}

.observacao {
    min-height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


    input {
        border: none;
        width: 95%;
        position: relative;
        top: 0;
        font-size: 2vh;
        line-height: 1vw;
        outline: none;
        color: var(--h2-color);
        background-color: transparent;
    }
}

.btns {

    button {
        background-color: var(--btn-concluir);
        color: var(--text-color);
        font-size: 3vw;
        width: 50vw;
        border: none;
        padding: 2vw;
        border-radius: 1vw;
        cursor: pointer;
    }

}


.user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3vw;
    align-items: center;
    width: 90vw;

    img {
        width: 40vw;
        height: 40vw;
        max-width: 180px;
        max-height: 180px;
        object-fit: cover;
        border-radius: 50%;
    }

}


input[type="file"]::file-selector-button {
    background: var(--h2-color);
    color: var(--container-color);
    border: none;
    padding: 2vw;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

input[type="file"]::file-selector-button:hover {
    background: var(--btn-concluir);
    color: var(--text-color);
}




footer {
    background-color: var(--primary-color);
    color: var(--bg-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    margin-top: auto;
    padding: 1vw 10vw;

    .material-symbols-outlined {
        font-size: 8vw;
        cursor: pointer;
        color: var(--text-color);
    }
}