@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3784B4;
    --bg-color: #000000;
    --text-color: #ffffff;
    --color-ok: rgb(10, 231, 10);
    --color-not_ok: rgb(247, 181, 1);
    --color-not: red;
    --border-radius: 1vw;
}

body {
    background-color: var(--bg-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'poppins', sans-serif;
    gap: 5vw;
}

header {
    width: 100vw;
    display: flex;
    justify-content: space-between;

    #off {
        cursor: pointer;
        color: var(--color-not);
        margin: 5vw;
        font-size: 8vw !important;
    }

    #notification_on {
        display: none;

        cursor: pointer;
        color: var(--primary-color);
        margin: 5vw;
        font-size: 8vw !important;
    }

    #notification_off {
        /* display: none; */

        cursor: pointer;
        color: var(--text-color);
        margin: 5vw;
        font-size: 8vw !important;
    }
}

.user {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    align-items: center;
    color: var(--text-color);
}

.atendimentos {
    background-color: var(--primary-color);
    width: 90vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2vw;
    border-radius: var(--border-radius);
    color: var(--text-color);

    .placar {
        margin-top: 2vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.calendario {
    margin-top: 7vw;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    color: var(--text-color);
}

.tabela_atendimento {
    background-color: var(--primary-color);
    width: 90vw;
    border-radius: var(--border-radius);
    color: var(--text-color);
    min-height: 20vw;

    table {
        width: 100%;
        text-align: center;
        padding-top: 1vw;

        th {
            padding-bottom: 0.5vw;
        }

        td {
            cursor: pointer;
        }
    }

    .ok {
        color: var(--color-ok);
    }

    .not_ok {
        color: var(--color-not_ok);
    }
}

footer {
    background-color: var(--primary-color);
    color: var(--bg-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: auto;
    padding: 1vw 10vw;

    .material-symbols-outlined {
        font-size: 8vw;
        cursor: pointer;
        color: var(--text-color);
    }
}

@media (min-width: 700px) {

    body {
        padding: 0 20vw;
    }

}