
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #3784B4;
    --bg-color: #000000;
    --text-color: #ffffff;
}

body{
    background-color: var(--bg-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'poppins', sans-serif;
}

img{
    margin: 3vh;
    width: 50vw;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3vw;
    width: 80vw;
}

input{
    background-color: var(--primary-color);
    outline: none;
    border: none;
    padding: 2vw;
    border-radius: 1vw;
    color: var(--text-color);
}

input::placeholder{
    color: #beb8b8;
}

button{
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    margin-top: 2vw;
    padding: 2vw;
    border-radius: 1vw;
    font-weight: bold;
    cursor: pointer;
}

@media (min-width: 700px) {


    .container{
        width: 20vw;
    }

    img{
        width: 15vw;
    }

    input{
        padding: 0.8vw;
        border-radius: 0.5vw;
    }

    button{
        margin: 0;
        padding: 0.8vw;
        border-radius: 0.5vw;
    }


}